[Desktop Entry]
Type=Application
Name=SpeedReader Startup
Exec=/dockerstartup/custom_startup.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
